.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  body {
    font-family: serif;
  }
  .Container {
    background-color: #2c3e50;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Container h1 {
    position: relative;
    top: 50px;
    margin-bottom: 100px;
    text-align: center;
    font-weight: bold;
  }
  .ShowBookDetails {
    background-color: #2c3e50;
    min-height: 100vh;
    color: white;
  }
  
  .UpdateBookInfo {
    background-color: #2c3e50;
    min-height: 100vh;
    color: white;
    padding:15px;
  }
  
  .ShowBookList {
    background-color: #2c3e50;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    min-width: 100px;
    color: white;
    padding:15px;
  }
  
  
  /* BookList Styles */
  .list {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 20px 0;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 2em;
  }
  
  .card-container {
    height:300px;
    width: 150px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,.3);
    padding: 10px;
  
  }
  
  .desc {
    height: 150px;
    width:130px;
  }
  
  .card-container h2 {
    font-size: 1em;
    font-weight: 400;
    padding: 10px 0 10px 0;
  }
  
  .card-container h3, p {
    font-weight: 300;
  }
  
  .card-container h3 {
    font-size: 1em;
    
  }
  
  .md5 {
    margin-bottom: 5px;
  }
  .form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .form-group {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: baseline;
}
  .form-control {
    width: 75%;
    margin: 0px 5px;
  }
  #container .submit  {
    width: 25%;
    margin: 0px 5px;
  }
  .form-msg {
    width: 65%;
  }
  .hide {
    display:none;
  }
  .urlbox {
    color:black;
    width:550px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
  }
  .urlbox p {
    margin-top:10px;
    margin-bottom: 10px;
    border: 2px solid skyblue;
    padding: 5px;
    border-radius: 5px;
    overflow: scroll;
    background-color: white;
  }
  .short-url-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .urlbox button {
    height: 47px;
    width: 150px;
    border-radius: 5px;
    background: #2c3e50;
    color: #FFC107;
    border-color: #FFC107;
  }
  .urlbox button:hover {
    cursor: pointer;
    background: #FFC107;
    color: #2c3e50;
  }
  .error-msg {
    font-size: 12px;
    color: red;
    background-color: white;
    border-radius: 12px;
    width: 30%;
    text-align: center;
    padding: 5px;
  }
  /* css for mobile, width-500px */
  @media screen and (max-width: 500px) {
    .form-group {
      margin-top: 20px;
      flex-direction: column;
      align-items: center;
    }
    #container .submit {
      width: 150px;
    }
    .form-control {
      width: 100%;
    }
    .short-url-box  {
      flex-direction: column;
      align-items: flex-start;
    }
    .urlbox p , .short-url-box p{
      overflow: scroll;
      width: 100%;
    }
    .urlbox {
      width: 100%;
    }
  }